{% extends 'base.html.twig' %}

{% block title %}Mes Factures{% endblock %}

{% block body %}

  <div class="row">
      <div class="col">
          <h1>Votre outil de facturation et devis 100% gratuit</h1>
      </div>
  </div>




{% endblock %}