{% extends 'parametres/parametres.html.twig' %}

{% block title %}Paramètres . Nouveau type d'article{% endblock %}
{% block mainTitle %}Nouveau type d'article{% endblock %}

{% block mainBody %}

    <section class="container">
        <div class="row">
            <div class="col">

                {{ form_start(form) }}

                {{ form_widget(form._token) }}

                <fieldset class="mb-3">
                    {{ form_row(form.nom) }}
                </fieldset>


                <button type="submit" class="btn btn-success btn-lg my-3">Enregistrer</button>

                {{ form_end(form,{render_rest: false}) }}
            </div>
        </div>
    </section>

{% endblock %}
