{% extends 'parametres/parametres.html.twig' %}

{% block title %}Paramètres . Types d'article{% endblock %}
{% block mainTitle %}Types d'article{% endblock %}
{% block mainBody %}
    <div class="container p-0 mt-5">
        <div class="row">
            <div class="row mb-3">
                <div class="col-sm-6 text-secondary">
                    <h6 class="mb-0">Nom</h6>
                </div>
                <div class="col-sm-6 text-secondary">

                </div>
            </div>
            <hr style="border-bottom: 3px solid black">
            {% for type in types %}
                <div class="row mb-3">
                    <div class="col-sm-9">
                        <h6 class="mb-0">{{ type.nom }}</h6>
                    </div>
                    <div class="col-sm-3">
                        {% if type.state == "new" %}
                            <a href="{{ path('delete_type_article',{'id':type.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                        {% endif %}
                    </div>
                </div>
                <hr style="border-bottom: 2px solid #727272">
            {% endfor %}

        </div>
    </div>
    <a href="{{ path('add_type_article') }}" class="btn btn-success btn-lg my-3">Ajouter un type d'article</a>
{% endblock %}
